body {
    font-family: Arial, sans-serif;
}

.albumInfo {
  max-width:300px;
  margin: auto;
  padding-top: 100px;
}

.albumArt {
  width: 100%;
  border-radius: 5%;
}

.artistInfo {
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
}

.trackList {
  margin: auto;
  border: 5px solid black;
  border-radius: 25px;
}

.duration {
  text-align: right;
}

ul {
  list-style-type: none; 
}